
#modal-container {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal {
    position: fixed;
    z-index: 3;
    background-color: var(--color-panel);
    border-radius: 8px;
    border: 1px solid var(--color-primary-muted);
    padding: 12px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%) translateY(0px);
    box-shadow: 0px 20px 100px 10px rgba(0, 0, 0, 0.315);
    opacity: 1;
    transition: opacity .3s, transform .3s;
}

.modal-transition {
    transform: translateX(-50%) translateY(300px);
    opacity: 0 !important;
}

.modal-header > h1 {
    text-align: center;
    font-size: 18px;
    font-family: var(--ui-font);
    color: var(--color-text);
    transform: translateZ(200px)
}

.modal-header {
    display: flex;
    position: relative;
    gap: 12px;
}

.modal-header > svg {
    position: absolute;
    right: 0;
    opacity: .5;
    cursor: pointer;
    transition: opacity .2s;
    padding: 4px;
    height: 20px;
    width: 20px;
    box-sizing: content-box;
}

.modal-header > svg:hover {
    opacity: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

