@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ui-font: 'Space Grotesk';
    --form-font: 'Nunito Sans';
    --mono-font: 'DM Mono';

    --color-bg-main: #FFFDF4;
    --color-bg-item: #0000000a;
    --color-primary: #FFCC00;
    --color-primary-muted: #CBA200;
    --color-text: #4f4f4f;
    --color-panel: #FFFCEE;
    --color-border: #35353552;

    --subtle-shadow: 0px 6px 8px 0px #00000008;
    --inner-depth: rgba(255, 255, 255, 0.8) 0px 4px 14px -6px inset,
        #0000004a 0px -1px 10px -6px inset;
}

body {
    background-color: var(--color-bg-main);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.vSep {
    margin-inline: 8px;
}

.hzSep {
    width: 100%;
    height: 1px;
    background-color: var(--color-bg-item);
    margin-block: 12px;
}

.hzSepMid {
    width: 100%;
    height: 1.2px;
    background-color: #35353525;
    margin-block: 12px;
}

.hzSepStrong {
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    opacity: .4;
    margin-block: 12px;
}

.wide {
    width: 100%;
}

.bold-text {
    font-weight: 600;
}


/* Toast messages */

.toaster {
    font-family: var(--ui-font) !important;
}

.butteruptoast {
    background-color: var(--color-panel) !important;
    border: 1px solid var(--color-border) !important;
    width: auto !important;
    padding: 12px !important;
    align-items: center;
    max-width: 400px;
}

.butteruptoast.warn {
    background-color: #FFF2E5 !important;
}

.notif .desc .message {
    font-weight: 400 !important;
    color: var(--color-text) !important;
    font-size: 14px !important;
    font-family: var(--form-font) !important;
}

.butteruptoast .icon svg {
    fill: transparent !important;
    color: var(--color-text);
    opacity: .5;
    margin-right: 2px;
    width: 18px !important;
    height: 18px !important;
    vertical-align: middle;
}

.butteruptoast.warn .icon svg {
    color: #a76b0e !important;
}


/* Scroll bar */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 6px;
    padding-bottom: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-bg-main);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 0px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-muted);
    cursor: pointer;
    border-radius: 100px;
}


/* Loader */


.dotsloader {
    margin-left: -30px;
    width: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 14px 0 var(--color-text), -14px 0 #0002;
        background: var(--color-text)
    }

    33% {
        box-shadow: 14px 0 var(--color-text), -14px 0 #0002;
        background: #0002
    }

    66% {
        box-shadow: 14px 0 #0002, -14px 0 var(--color-text);
        background: #0002
    }

    100% {
        box-shadow: 14px 0 #0002, -14px 0 var(--color-text);
        background: var(--color-text)
    }
}
