/* --- BUTTONS --- */

.button {
    padding-block: 8px;
    padding-inline: 12px;
    font-family: var(--ui-font);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: filter .2s, box-shadow .4s;
}

.button:hover {
    filter: brightness(1.2);
}

.button:active {
    filter: brightness(1.15);
    transform: translateY(2px);
}

.button .lucide {
    width: 16px;
    height: 16px;
    stroke-width: 2.5px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 8px;
}

/* Hierarchy */

.primary-button {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.primary-button:hover {
    filter: brightness(1.05);
    box-shadow: 0px 10px 90px -10px var(--color-primary);
}

.secondary-button {
    background-color: var(--color-text);
    color: var(--color-bg-main);
}

.tertiary-button {
    color: var(--color-text);
    border: 1px solid var(--color-text);
    background-color: var(--color-bg-item);
    transition: background-color .2s;
}

.tertiary-button:hover {
    background-color: #0000002f;
}

.danger-button {
    color: var(--color-text);
    border: 1px solid rgba(255, 0, 0, 0.66);
    background-color: rgba(255, 0, 0, 0.08);
    transition: background-color .2s;
}

.danger-button:hover {
    background-color: rgba(255, 0, 0, 0.15);
}

/* --- INPUTS --- */

.input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-label {
    font-family: var(--ui-font);
    font-size: 14px;
    font-weight: 500;
    transition: opacity .1s;
    opacity: 0.8;
    padding-left: 2px;
    position: relative;
}

.input-label > svg {
    opacity: .8;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 6px;
    position: absolute;
    right: 0;
}

.input-element {
    all: unset;
    border: 1px solid var(--color-text);
    border-radius: 4px;
    padding-block: 6px;
    padding-inline: 12px;
    color: var(--color-text);
    font-family: var(--form-font);
    font-size: 16px;
    font-weight: 600;
    transition: background-color .4s;
    resize: vertical;
}

.input-element:invalid {
    border-color: red;
}

.input-element:focus {
    background-color: var(--color-bg-item);
}

.input-element:invalid:focus {
    background-color: #ff000033;
}
.input-group:has(.input-element:focus) > .input-label {
    opacity: 1;
}
.input-group:has(.input-element:invalid) > .input-label {
    color: red;
}

.input-unit {
    font-family: var(--ui-font);
    font-size: 14px;
    text-align: center;
}

.input-with-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-right: 4px;
}

.input-with-action > input {
    width: 100%;
}

/* --- ERROR LABEL --- */

.error-label[iserror="0"] {
    display: none;
}

.error-label > svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 6px;
    stroke-width: 2.5;
}

.error-label {
    text-align: center;
    color: red;
    font-family: var(--ui-font);
    font-size: 14px;
    font-weight: 500;
}


/* --- TRUE FALSE --- */

.truefalse-container {
    width: min-content;
    margin-top: 12px;
}

.truefalse-inputs {
    display: flex;
    position: relative;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-text);
    border-radius: 6px;
    transition: background-color 0.3s;
    flex-direction: row;
    font-family: var(--ui-font);
    gap: 8px;
}

.truefalse-inputs .truefalse-radio {
    flex: 1 1 auto;
    text-align: center;
    transition: background-color .4s;
    border-radius: 6px;
}

.truefalse-inputs .truefalse-radio input {
    display: none;
}

.truefalse-inputs .truefalse-radio .truefalse-name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    padding-inline: 8px;
    padding-block: 4px;
    color: var(--color-text);
    transition: background-color .2s;
    font-weight: 600 !important;
    font-size: 16px;
}

.truefalse-inputs .truefalse-radio:hover {
    border-radius: 6px;
    background-color: var(--color-bg-item);
}

.truefalse-inputs .truefalse-radio input:checked + .truefalse-name {
    background-color: var(--color-primary);
    outline: 1px solid var(--color-text);
}

.truefalse-inputs .dimmed-truefalse input:checked + .truefalse-name {
    background-color: var(--color-bg-item) !important;
}

.truefalse-name > svg {
    height: 15px;
    vertical-align: middle;
    margin-right: 4px;
}


/* --- SELECT --- */

.select-container {
    width: min-content;
    margin-block: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 8px;
}

.select-radio-label {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 8px;
    align-items: center;
    font-family: var(--ui-font);
    font-weight: 500;
    cursor: pointer;
}

.select-radio {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    height: 14px;
    width: 14px;
    border: 1px solid var(--color-text);
    border-radius: 50%;
    margin-top: 2px;
    transition: background-color .2s;
}

.multi-radio {
    border-radius: 3px !important;
}

.select-radio:checked {
    background-color: var(--color-primary);
}

.select-radio-label:has(.select-radio:checked) {
    text-decoration: underline 2px;
    text-decoration-color: var(--color-primary);
}


/* Text */

.info-text {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.danger-text-btn {
    font-family: var(--ui-font);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    transition: color .2s;
    cursor: pointer;
    width: max-content;
    gap: 6px;
}

.danger-text-btn:hover {
    color: red;
    text-decoration: underline 1px rgba(255, 0, 0, 0.548);
}

.danger-text-btn > svg {
    width: 14px;
    height: 14px;
    opacity: .7;
}

