@media only screen and (max-width: 1140px) {
    .dash-content-container {
        width: 95%;
    }
}

@media only screen and (max-width: 1080px) {
    .responses-view {
        flex-direction: column !important;
        gap: 50px;
    }
    .responses-lists {
        border-right: none !important;
        width: 100% !important;
    }
    .response-details {
        width: 100% !important;
    }
}

@media only screen and (max-width: 710px) {
    .assign-categories-container {
        flex-direction: column !important;
    }
    .assignees-container {
        height: auto !important;
    }
    .form-answer-with-grade > .form-component {
        width: 100% !important;
        min-width: auto !important; 
    }
}

@media only screen and (max-width: 600px) {
    .dash-content-container {
        margin-top: 20px;
    }
    
    .dash-categories-container {
        align-items: start !important;
        gap: 40px;
        padding-bottom: 24px !important;
        margin-bottom: 20px;
        text-underline-offset: 4px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space-collapse: preserve-breaks;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        align-items: center;
    }

    .dash-content-container {
        margin-top: 40px !important;
        width: 95% !important;
    }

    .mobileHide {
        display: none;
    }

    .dash-header {
        flex-direction: column !important;
        gap: 12px;
    }

    .welcome-msg {
        font-size: 16px !important;
        font-weight: 500 !important;
    }

    .dash-header > img,
    .builder-header > img {
        height: 28px !important;
    }

    .dash-categories-content-container {
        padding-inline: 4px !important;
    }
}

@media only screen and (max-width: 560px) {
    .builder {
        padding: 8px !important;
    }

    .form-component,
    .form-component-builder-editor {
        min-width: 100% !important;
    }

    .builder-form-content {
        padding: 8px !important;
    }

    .link-container {
        flex-direction: column !important;
        gap: 8px !important;
        padding: 4px;
    }

    .link-container > span {
        text-align: center !important;
        border-radius: 6px !important;
    }

    .form-info-panel,
    .respondent-info,
    .responded-panel {
        width: 95% !important;
    }
    
}

@media only screen and (max-width: 500px) {
    .form-answer-with-grade {
        flex-direction: column !important;
        width: 100% !important;
    }

    .form-component-grade-panel {
        border-radius: 0px 0px 6px 6px !important;
        padding-top: 12px !important;
        padding-left: 8px !important;
        margin-left: 0px !important;
        margin-top: -12px !important;
    }
    
}

@media only screen and (max-width: 900px) {
    .lists-category-container {
        flex-direction: column !important;
        gap: 50px !important;
        width: 100% !important;
    }   

    .my-lists-container {
        width: 100% !important;
        background-color: var(--color-bg-item);
        padding: 8px;
        border-radius: 6px;
        box-shadow: var(--subtle-shadow);
        border: 1px solid var(--color-bg-item)
    }
}

@media only screen and (max-width: 440px) {
    .loginForm {
        width: 90%;
    }

    .respondent-account {
        flex-direction: column !important;
    }

    #respondent-name {
        text-align: center !important;
        margin-inline: 0 !important;
        margin-top: 16px !important;
    }
}

@media only screen and (max-width: 430px) {
    .homeHeader {
        flex-direction: column !important;
        align-items: center !important;
        gap: 20px;
    }
}
