.builder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.builder-panels-container {
    width: 100%;
    height: 88dvh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-inline: 20px;
    margin-top: 30px;
}

.builder-properties-panel {
    height: 100%;
    background-color: var(--color-panel);
    border: 1px solid var(--color-border);
    width: 30%;
    max-width: 400px;
    min-width: 320px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.builder-form-panel {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
}

.builder-panel-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: var(--ui-font);
    color: var(--color-text);
    justify-content: center;
    position: relative;
    margin-top: 12px;
}

.builder-panel-header > h2 {
    font-size: 20px;
}

.builder-panel-header > svg {
    position: absolute;
    left: 12px;
    height: 20px;
    opacity: .5;
}

.builder-properties-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-inline: 8px;
}

.builder-form-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.builder-new-blocks {
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-bg-item);
    border-radius: 6px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}

.add-component-btn {
    font-family: var(--ui-font);
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--color-text);
    padding-inline: 8px;
    padding-block: 6px;
    width: max-content;
    height: max-content;
    border-radius: 4px;
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-bg-item);
    opacity: .7;
    transition: opacity .2s;
    cursor: pointer;
    user-select: none;
}   

.add-component-btn > svg {
    min-width: 16px;
    min-height: 16px;
    opacity: .6;
}

.add-component-btn:hover {
    opacity: 1 !important;
}

.builder-properties-bottom {
    padding: 8px;
}

.assign-categories-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

.assign-category > h3 {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.assign-category > h3 > svg {
    height: 16px;
    width: 16px;
    color: var(--color-primary-muted)
}

.assignees-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 300px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    max-width: 300px;
}

.assignee-item {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 4px;
}

.assignee-item > svg {
    color: var(--color-text);
    opacity: .6;
    cursor: pointer;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
}

.assignee-item > svg:hover {
    opacity: 1;
}

.assign-btn > svg {
    color: var(--color-primary-muted);
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    font-family: var(--ui-font);
    color: var(--color-text);
    background-color: var(--color-bg-item);
}

.link-header {
    background-color: var(--color-bg-item);
    border-radius: 6px 0px 0px 6px;
    font-weight: 600;
    padding: 8px;
}

.link-header > svg {
    width: 14px;
}

.link-content {
    font-family: var(--form-font);
    font-size: 14px;
    padding-inline: 8px;
}

.link-copy {
    background-color: var(--color-primary);
    border-radius: 0px 6px 6px 0px;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
}

.link-copy > svg {
    width: 14px;
}


.share-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.is-active-info {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline 2px var(--color-primary);
    text-underline-offset: 2px;
}
