.builder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.builder-panels-container {
    width: 100%;
    height: 88dvh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-inline: 20px;
    margin-top: 30px;
}

.builder-properties-panel {
    height: 100%;
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-border);
    width: 30%;
    max-width: 400px;
    min-width: 320px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--inner-depth), var(--subtle-shadow);
}

.builder-form-panel {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    background-color: #fffbe6;
    background-image: radial-gradient(circle at 1px 1px, #00000023 1px, transparent 0);
    background-size: 40px 40px;
    background-position: 20px 20px;
    box-shadow: var(--inner-depth), var(--subtle-shadow);
    position: relative;
}

.builder-panel-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: var(--ui-font);
    color: var(--color-text);
    justify-content: center;
    position: relative;
    margin-top: 12px;
}

.builder-panel-header > h2 {
    font-size: 20px;
}

.builder-panel-header > svg {
    position: absolute;
    left: 12px;
    height: 20px;
    opacity: .5;
}

.builder-properties-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-inline: 8px;
}

.builder-form-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12px;
}

.builder-new-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}

.add-component-btn {
    font-family: var(--ui-font);
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--color-text);
    padding-inline: 8px;
    padding-block: 6px;
    width: max-content;
    height: max-content;
    border-radius: 4px;
    background-color: #6e6e6e21;
    border: 1px solid var(--color-border);
    opacity: .8;
    transition: opacity .2s;
    cursor: pointer;
    user-select: none;
    box-shadow: var(--inner-depth), var(--subtle-shadow);
}   

.add-component-btn > svg {
    min-width: 16px;
    min-height: 16px;
    opacity: .6;
}

.add-component-btn:hover {
    opacity: 1 !important;
}

.builder-properties-bottom {
    padding: 8px;
    padding-top: 0px;
}

.assign-categories-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

.assign-category > h3 {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.assign-category > h3 > svg {
    height: 16px;
    width: 16px;
    color: var(--color-primary-muted)
}

.assignees-container > .select-container {
    margin-block: 0px !important;
}

.assignees-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 300px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    max-width: 300px;
}

.assignee-item {
    font-family: var(--mono-font);
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 4px;
}

.assignee-item > svg {
    color: var(--color-text);
    opacity: .6;
    cursor: pointer;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
}

.assignee-item > svg:hover {
    opacity: 1;
}

.assign-btn > svg {
    color: var(--color-primary-muted);
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

/* Share modal */

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    font-family: var(--ui-font);
    color: var(--color-text);
    background-color: var(--color-bg-item);
    box-shadow: var(--inner-depth), var(--subtle-shadow);
}

.link-header {
    background-color: var(--color-bg-item);
    border-radius: 6px 0px 0px 6px;
    font-weight: 600;
    padding: 8px;
}

.link-header > svg {
    width: 14px;
}

.link-content {
    font-family: var(--form-font);
    font-size: 14px;
    padding-inline: 8px;
}

.link-copy {
    background-color: var(--color-primary);
    border-radius: 0px 6px 6px 0px;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
}

.link-copy > svg {
    width: 14px;
}


.share-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.is-active-info {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline 2px var(--color-primary);
    text-underline-offset: 2px;
}

/* Form responses */

.responses-view-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 12px;
    align-items: center;
    font-family: var(--ui-font);
    font-weight: 600;
    border-bottom: 1px solid var(--color-border);
    font-size: 18px;
    margin-top: -12px;
    padding-block: 26px;
    color: var(--color-text);
}

.responses-view-header-btn {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    
}
.responses-view-header-btn > svg {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    color: var(--color-primary-muted);
    transition: rotate .6s;
}

.responses-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.responses-lists {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
    width: 35%;
    border-right: 1px solid var(--color-border);
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

.responses-type-header {
    font-family: var(--ui-font);
    font-size: 18px;
    font-weight: 400;   
    margin-bottom: 8px;
}

.header-value {
    font-weight: 600;
    margin-left: 4px;
    text-decoration: underline 2px var(--color-primary);
}

.currently-responding-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 100%;
    gap: 8px;
}

.currently-responding {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-weight: 600;
    font-size: 12px;
    background-color: var(--color-bg-item);
    padding: 2px;
    border-radius: 4px;
    border: 1px solid var(--color-bg-item)
}

.submitted-response {
    width: 100%;
    background-color: var(--color-panel);
    font-family: var(--ui-font);
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    cursor: pointer;
}

.submitted-response > svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.submitted-respondent-info {
    display: flex;
    flex-direction: column;
}

.respondent-name {
    font-size: 16px;
    font-weight: 500;
}

.respondent-email {
    font-size: 14px;
}

.response-details {
    padding: 12px;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.modal-content > .response-details {
    width: 100%;
}

.response-details-meta {
    font-family: var(--ui-font);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.response-meta {
    font-weight: 600;
}

.response-meta-value {
    font-weight: 400;
    margin-left: 1ch;
    text-decoration: underline 1px var(--color-primary);
}

.response-asnwers-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitted-responses-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.response-meta-left {
    display: flex;
    flex-direction: column;
}
