.dash-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--ui-font);
    font-size: 14px;
    color: var(--color-text);
}

.dash-header > img {
    cursor: pointer;
}

.welcome-msg {
    font-size: 22px;
}

#welcome-msg-name {
    text-decoration: underline 3px;
    text-decoration-color: var(--color-primary);
    text-underline-offset: 4px;
}

.dash {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-content-container {
    margin-top: 100px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 16px;

}

.dashboard-category-switch {
    all: unset;
    font-family: var(--ui-font);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text);
    cursor: pointer;
}

.dashboard-category-switch[active="1"] {
    text-decoration: underline 3px var(--color-primary);
    text-underline-offset: 4px;
}

.dashboard-category-switch[active="1"] > svg {
    opacity: 1;
}

.dashboard-category-switch[active="0"] > .active-category-glow {
    box-shadow: none;
}

.active-category-glow {
    box-shadow: 0px -10px 50px 4px var(--color-primary);
    transition: box-shadow .5s;
}

.dashboard-category-switch[active="0"]:hover > .active-category-glow {
    box-shadow: 0px -10px 50px 2px var(--color-primary);
}


.dashboard-category-switch > svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 8px;
    opacity: .5;
    transition: opacity .2s;
}

.dash-categories-content-container {
    width: 100%;
    padding-inline: 20px;
}

.dash-category-content[active="0"] { display: none; }

.dash-category-content {
    width: 100%;
    margin-top: 20px;
}

/* --- FORMS --- */

.dash-forms-category-container {
    width: 100%;
}

.dash-forms-category-container > h1 {
    font-family: var(--ui-font);
    font-weight: 600;
    font-size: 20px;
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dash-forms-container {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}


/* From brief view */

.form-brief-view {
    width: 350px;
    min-height: 250px;
    background-color: var(--color-panel);
    border-radius: 8px;
    border: 1px solid #35353552;
    padding: 8px;
    flex-direction: column;
    display: flex;
    transition: box-shadow .6s;
}

.form-brief-view:hover {
    box-shadow: 0px 8px 40px -4px #00000026;
}

.form-brief-view[isfinished="1"] {
    background-color: transparent;
}

.form-brief-view[isfeatured="1"] {
    border-color: var(--color-primary);
    border-width: 2px;
    box-shadow: 0px 30px 170px -78px var(--color-primary-muted);
}

.form-brief-view > h5 {
    all: unset;
    font-family: var(--ui-font);
    font-size: 18px;
    color: var(--color-text);
    font-weight: 500;
    overflow-x: clip;
    white-space: nowrap;
}

.form-brief-characteristics-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    gap: 4px;    
    height: 100%;
}

.form-characteristic {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 14px
}

.form-characteristic > svg {
    height: 14px;
    width: 14px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 6px;
    background-color: var(--color-primary);
    padding: 3px;
    box-sizing: content-box;
    border-radius: 50%;
}

.form-brief-btn-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.form-brief-active-state-badge {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    font-family: var(--ui-font);
    white-space: nowrap;
}

.form-brief-active-state-badge[state="0"] {
    color: gray;
}
.form-brief-active-state-badge[state="1"] {
    color: var(--color-primary-muted);
}
.form-brief-active-state-badge[state="2"] {
    color: var(--color-text);
    text-decoration: underline 2px var(--color-primary);
    text-underline-offset: 2px;
}


/* --- ACCOUNT --- */

.dash-account-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--ui-font);
    gap: 8px;
    color: var(--color-text)
}

.dash-account-container > h1 {
    font-size: 32px;
}
.dash-account-container > h4 {
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
}

.dash-account-edits-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dash-account-edit-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* --- GROUPS --- */

.groups-category-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px
}

.my-groups-container {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-groups-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ui-font);
    font-size: 14px;
    padding-inline: 8px;
    color: var(--color-text);
}

.my-groups {
    display: flex;
    flex-direction: column;
    padding-inline: 8px;
}

.my-group {
    font-family: var(--ui-font);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.my-group[selected="1"] > h3 {
    font-weight: 700;
    text-decoration: underline 2px var(--color-primary);
    text-underline-offset: 3px;
}

.my-group > svg {
    height: 16px;
    width: 16px;
    color: var(--color-primary-muted);
    opacity: 0;
    transition: opacity .2s;
}

.my-group[selected="1"] > svg,
.my-group:hover > svg {
    opacity: 1;
}

.my-group > h3 {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    transition: font-weight .4s;
}

/* invitation */

.group-invitation {
    font-family: var(--ui-font);
    background-color: var(--color-panel);
    padding: 6px;
    border-radius: 6px;
    border: 1px solid var(--color-primary);
    box-shadow: 0px 18px 80px -44px var(--color-primary-muted);
}

.group-invitation > h4 {
    font-weight: 400;
    margin-left: 8px;
    margin-bottom: 8px;

}

.group-invitation > small {
    color: var(--color-primary-muted);
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 4px;
    gap: 4px;
}

.group-invitation > small > svg {
    width: 14px;
    height: 14px;
}


/* group details */

.group-details {
    width: 100%;
}

.group-details > h1 {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 28px;
    padding-inline: 8px;
    text-align: center;
    overflow-y: clip;
    white-space: nowrap;    
}

.group-view-container {
    padding-inline: 8px;
}

.group-view-container > h2 {
    font-family: var(--ui-font);
    color: var(--color-text);
    font-size: 24px;
    display: flex;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.group-view-container > h2 > svg {
    width: 20px;
    height: 20px;
    opacity: .5;
}

.group-view-forms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 50px;
    gap: 20px;
}

.group-view-management-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 50px;
    gap: 10px;
}

/* group member */

.group-member {
    display: flex;
    flex-direction: row;
    font-family: var(--ui-font);
    font-size: 14px;
    color: var(--color-text);
    align-items: center;
    gap: 4px;
    position: relative;
}

.group-member[manager="1"] {
    font-weight: 600;
}

.group-member > svg {
    width: 14px;
    height: 14px;
    color: var(--color-primary-muted);
}

.group-member-manage-icons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    cursor: pointer;
    position: absolute;
    left: 25%;
    background-color: var(--color-panel);
    padding: 6px;
    border-radius: 5px;
    border: 1px solid var(--color-text);
    display: none;
}

.group-member:hover > .group-member-manage-icons {
    display: flex;
}

.group-member-manage-icons > svg {
    width: 16px;
    height: 16px;
    opacity: .6;
    transition: opacity .2s;
}

.group-member-manage-icons > svg:hover {
    opacity: 1;
}

.group-member > p[isself="1"] {
    color: var(--color-primary-muted);
}

