header {
    padding-block: 12px;
    padding-inline: 16px;
    justify-content: space-between;
}

.header-text {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-family: var(--ui-font);
    color: var(--color-text);
}
