header {
    padding-block: 12px;
    padding-inline: 16px;
    justify-content: space-between;
}

.header-text {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-family: var(--ui-font);
    color: var(--color-text);
}

.dash-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--ui-font);
    font-size: 14px;
    color: var(--color-text);
}

.dash-header > img {
    cursor: pointer;
}
