.squaresBgContainer {
    height: 33%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.pres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 100px;
    margin-inline: 50px;
    gap: 50px;
}


