.loginFormContainer {
    width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
}

.loginForm {
    width: 400px;
}

.loginFormFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 20px;
}

.panelName {
    font-family: var(--ui-font);
    font-size: 36px;
    text-align: center;
    color: var(--color-text);
}
